@import "styles/variables.scss";

.table-header {
    background-color: $table-header-color;
    color: $basic-color;
    font-size: $font-size-large;
    @media (max-width: 768px) {
        font-size: $font-size-base;
        
    }
}