$success-color: #2ecc71;
$error-color: #e74c3c;
$info-color: #3498db;
$basic-color: #ecf0f1;

$table-header-color: #4ADE80;

$form-bg-color: #fff;
$image-bg-color: #e9ecef;
$card-bg-color: #EEEDEB;
$app-bg-color: #FFF;

$border-color: #ddd;

$text-color: #333;
$secondary-text-color: #555;

$btn-popup-bg-color: #f4f0f0;


$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

$font-size-title: 40px;
$font-size-title-2: 30px;
$font-size-base: 16px;
$fort-size-small: 14px;
$font-size-large: 20px;

$width-image-container: 300px;
$height-image-container: 250px; 

$height-card: 570px;
$height-card-content: 170px;

$spacing-unit: 8px;